<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="assets/images/icon/betterhalf_long.jpg" alt="BetterHalf" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="aboutus">
                        <i class="far fa-check-square"></i>About Us</a>
                </li>
                <li>
                    <a href="contactus">
                        <i class="fas fa-phone"></i>Contact Us</a>
                </li>
               
                <li>
                    <a href="profile">
                        <i class="fas fa-user-circle"></i>My Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->