<div class="new-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Register New Account</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <!-- //Username -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Username</label>
                                    </div>
                                    <div class="col-4 col-md-4">
                                        <input type="text" id="text-input" name="text-input" placeholder="Username" class="form-control">
                                    </div>
                                </div>
                                <!-- //Firs Name  -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">First Name</label>
                                    </div>
                                    <div class="col-4 col-md-4.5">
                                        <input type="text" id="text-input" name="text-input" placeholder="First Name" class="form-control">
                                    </div>

                                    <div class="col-5 col-md-4.5">
                                        <input type="text" id="text-input" name="text-input" placeholder="Last Name" class="form-control">
                                    </div>
                                </div>
                                <!-- //Email -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="email-input" class=" form-control-label">Email</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="email" id="email-input" name="email-input" placeholder="Enter Email" class="form-control">
                                    </div>
                                </div>
                                <!-- //Enter Password -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="password-input" class=" form-control-label">Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="password" id="password-input" name="password-input" placeholder="Password" class="form-control">
                                    </div>
                                </div>
                                <!-- //Confirm Password -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="password-input" class=" form-control-label">Confirm Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="password" id="password-input" name="password-input" placeholder="Confirm Password" class="form-control">
                                    </div>
                                </div>
                                <!-- //Gender -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Gender</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="select" id="select" class="form-control">
                          <option value="0">Please select</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">Other</option>
                      </select>
                                    </div>
                                </div>
                                <!-- //Date of Birth -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="date" class=" form-control-label">Date of Birth</label>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <input type="date" name="Date of Birth">
                                    </div>
                                </div>

                                <!-- //Phone Number-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="date" class=" form-control-label">Phone Number</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="phoneNo" name="phoneNo" placeholder="Phone Number" class="form-control" required onkeyup="keyPress(); return false;" minlength=11 maxlength=11>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn  btn-primary btn-lg" [routerLink]="['']">
              <!-- <i class="fa fa-dot-circle-o"></i> Submit -->
              Submit
          </button>
                            <button type="cancel" class="btn btn-danger btn-lg" [routerLink]="['/register']">
                           Cancel
          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>